<HTML>
<HEAD>
  <script src="https://js.stripe.com/v3/"></script>
</HEAD>

<BODY>
  <script>
    var stripe = Stripe('pk_test_jnjnLmEpUo9tbTIEjKKGPr62007x2iQKkM');
    stripe.redirectToCheckout({
     // Make the id field from the Checkout Session creation API response
     // available to this file, so you can provide it as parameter here
     // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
     sessionId: 'cs_test_C2wfaYx7jbILCIFd889EZq6Q2bpv64z5w6PEBIT2PxOMI5ExBy6iXik5'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  </script>
</BODY>
</HTML>
