<h2>Edit Subscription</h2>

<%= render "form.html", Map.put(assigns, :action, subscription_path(@conn, :update, @subscription)) %>

<span><%= link "Back", to: subscription_path(@conn, :index) %></span>
