<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :stripe_session_id, class: "control-label" %>
    <%= text_input f, :stripe_session_id, class: "form-control" %>
    <%= error_tag f, :stripe_session_id %>
  </div>

  <div class="form-group">
    <%= label f, :organization_id, class: "control-label" %>
    <%= number_input f, :organization_id, class: "form-control" %>
    <%= error_tag f, :organization_id %>
  </div>

  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :quantity, class: "control-label" %>
    <%= number_input f, :quantity, class: "form-control" %>
    <%= error_tag f, :quantity %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
