<div class="btn-group pull-right">
  <%= link "Edit", to: subscription_path(@conn, :edit, @subscription), class: "btn btn-default" %>
  <%= link "Back", to: subscription_path(@conn, :index), class: "btn btn-default" %>
</div>
<h2>Show Subscription</h2>

<ul>

  <li>
    <strong>Stripe session:</strong>
    <%= @subscription.stripe_session_id %>
  </li>

</ul>


<div class="table-responsive">
  <table class="table">
    <thead>
      <th>amount_due</th>
      <th>amount_paid</th>
      <th>amount_remaining</th>
    </thead>
    <tbody>
      <%= for invoice <- @invoices do %>
        <tr>
          <td><%= invoice.amount_due %></td>
          <td><%= invoice.amount_paid %></td>
          <td><%= invoice.amount_remaining %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
