<h2>Show Charge</h2>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @charge.amount %>
  </li>

</ul>

<span><%= link "Edit", to: charge_path(@conn, :edit, @charge) %></span>
<span><%= link "Back", to: charge_path(@conn, :index) %></span>
